*{
    box-sizing: border-box;

}

.navbar_logo {
    display: flex;
    font-size: 24px;
    color: white;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
}

.logo_image{
    max-width: 100%;
    width: 200px;
    /* padding: 5px 10px; */
}

.body{
    margin: 0;
    
}

.login-title {
    color: #201C1D;
    text-align: center;
}

.login-form {
    width: 300px;
    border: 0;
    border-radius: 6px;
    background-color: #EEEFF1;
    padding: 20px;
    margin: 0 auto;

}

.text-field {
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.eyes {
    position: absolute;
    top: 0;
    bottom: 77px;
    right: 243px;
    margin: auto 2px;
    height: 30px;
    font-size: 10px;
    cursor: pointer;
  }


div.password{
    /* width:350px; */
    margin: 0 auto;
    position: relative;
}

.btnSummit {
    background-color: #E7542E;
    color:#EEEFF1;
    font-size: 14px;
    margin-bottom: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

div.password i{
    position: absolute;
    font-size: 16px;
    left: 232px;
    bottom: 26px;
    color: #464646;
}


