* {
  box-sizing: border-box;
}

.body {
  display: block;
}

.login-form {
  width: 300px;
  border: 0;
  border-radius: 6px;
  background-color: #eeeff1;
  padding: 20px;
  margin: 0 auto;
  margin-top: 13vw;
  box-shadow: 3px 3px 7px #d9dadc;
}

.navbar_logo {
  margin-top: 20px;
  display: flex;
  font-size: 24px;
  justify-content: center;
  align-items: center;
}

.logo_image {
  max-width: 100%;
  width: 180px;
  /* padding: 5px 10px; */
}

.login-title {
  margin-top: 10px;
  margin-bottom: 40px;
  color: #201c1d;
  text-align: center;
}

.text-field {
  font-size: 14px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

#eyes {
  position: absolute;
  top: 32px;
  right: 243px;
  margin: auto 2px;
  height: 30px;
  font-size: 15px;
  cursor: pointer;
}

div.password {
  /* width:350px; */
  margin: 0 auto;
  position: relative;
}

.btnSummit {
  background-color: #e7542e;
  color: #eeeff1;
  font-size: 14px;
  margin-bottom: 30px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

div.password i {
  position: absolute;
  font-size: 16px;
  left: 232px;
  bottom: 26px;
  color: #464646;
}
